<section>
  <app-header></app-header>
  <div class="container">
    <div class="row justify-content-center">
      <div class="jumbotron" *ngIf="key">
        <div class="col-sm-7">
          <h1 class="display-3">{{pokemonDetail.load.name | titlecase}}</h1>
        </div>
        <div class="pokemon-profile-image">
          <img src="{{pokemonDetail.load.sprites.front_default}}" width="229.66px" height="259.66px">
        </div>
        <div class="tr float-left">
          <div class="col-sm-12 pokemon-stats-info">
            <h2>Stats</h2>
            <ul *ngFor="let item of pokemonDetail.load.stats">
              <li><h4>{{item.stat.name | titlecase}}: {{item.base_stat}}</h4></li>
            </ul>
          </div>
        </div>
        <!--
        <div class="row-sm-9 float-left mt-0 ml-3">
          <app-evolucao [id]="pokemonDetail.load.id"></app-evolucao>
        </div>
        -->
        <div class="tr float-right ml-0">
          <div class="col-sm-9 pokemon-general-info mt-3 float-right">
            <h2 class="ml-3">General</h2>
            <div class="card border-success mb-3 ml-2" style="max-width: 27rem; max-height: 100%">
              <div class="card-body row" style="padding: 20px">
                  <h4 class="card-title col-sm-6 ml-2">Type:</h4>
                  <p class="lead float-right ml-3">{{pokemonDetail.load.types[0].type.name | titlecase}}</p>
                <h4 class="card-title col-sm-6 ml-2">Height:</h4>
                <p class="lead float-right ml-3">{{pokemonDetail.load.height / 10}} m</p>
                <h4 class="card-title col-sm-6 ml-2">Weight:</h4>
                <p class="lead float-right ml-3">{{pokemonDetail.load.weight / 10}} Kg</p>
                <h4 class="card-title col-sm-6 ml-2">Ability:</h4>
                <p class="lead float-right ml-3">{{pokemonDetail.load.abilities[0].ability.name | titlecase}}</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>


